# Swap File
memoria/MUSE/file.bin

# Debug
memoria/MUSE/Debug/file.bin
memoria/MUSE/Debug/MUSE
memoria/MUSE/Debug/*.d
memoria/MUSE/Debug/*.o
memoria/libmuse/Debug/liblibmuse.so
memoria/libmuse/Debug/libmuse/*.d
memoria/libmuse/Debug/libmuse/*.o

# Logs
memoria/MUSE/logs/*.log
memoria/libmuse/logs/*.log

common/Debug/common/log.o
common/Debug/common/protocol.o
common/Debug/common/socket.o
common/Debug/common/log.d
common/Debug/common/protocol.d
common/Debug/common/socket.d
common/Debug/libcommon.so

libSUSE/Debug/libSUSE.o
libSUSE/Debug/utils.o
libSUSE/Debug/libSUSE.d
libSUSE/Debug/utils.d
libSUSE/Debug/liblibSUSE.so

sac_cli/Debug/src/cli_op.d
sac_cli/Debug/src/cli_op.o
sac_cli/Debug/src/confg.d
sac_cli/Debug/src/confg.o
sac_cli/Debug/src/main.d
sac_cli/Debug/src/main.o
sac_cli/Debug/src/utils.d
sac_cli/Debug/src/utils.o
sac_cli/Debug/sac_cli
sac_cli/Debug/cli.log

SUSE/Debug/SUSE.o
SUSE/Debug/configuracion.o
SUSE/Debug/inicializacion.o
SUSE/Debug/logging.o
SUSE/Debug/semaforos.o
SUSE/Debug/utils.o 
SUSE/Debug/SUSE.d
SUSE/Debug/configuracion.d
SUSE/Debug/inicializacion.d
SUSE/Debug/logging.d
SUSE/Debug/semaforos.d
SUSE/Debug/utils.d
SUSE/Debug/SUSE
SUSE/SUSE.log

sac_server/Debug/disk.bin